<p id="notice"><%= notice %></p>

<p>
  <strong>Ombro:</strong>
  <%= @medida.ombro %>
</p>

<p>
  <strong>Torax:</strong>
  <%= @medida.torax %>
</p>

<p>
  <strong>Braco esquerdo:</strong>
  <%= @medida.braco_esquerdo %>
</p>

<p>
  <strong>Braco direito:</strong>
  <%= @medida.braco_direito %>
</p>

<p>
  <strong>Panturrilha esquerda:</strong>
  <%= @medida.panturrilha_esquerda %>
</p>

<p>
  <strong>Panturrilha direita:</strong>
  <%= @medida.panturrilha_direita %>
</p>

<p>
  <strong>Abdomem:</strong>
  <%= @medida.abdomem %>
</p>

<p>
  <strong>Cintura:</strong>
  <%= @medida.cintura %>
</p>

<p>
  <strong>Quadril:</strong>
  <%= @medida.quadril %>
</p>

<p>
  <strong>Coxa esquerda:</strong>
  <%= @medida.coxa_esquerda %>
</p>

<p>
  <strong>Coxa direita:</strong>
  <%= @medida.coxa_direita %>
</p>

<%= link_to 'Edit', edit_medida_path(@medida) %> |
<%= link_to 'Back', medidas_path %>
